
Lab1/.vs/Lab1/DesignTimeBuild/.dtbcache
*.ide
*.ide
*.ide-shm
Lab1/.vs/Lab1/DesignTimeBuild/.dtbcache
Lab1/.vs/Lab1/v16/.suo
Lab1/.vs/Lab1/v16/Server/sqlite3/storage.ide
Lab1/.vs/Lab1/v16/Server/sqlite3/storage.ide-shm
Lab1/.vs/Lab1/v16/Server/sqlite3/storage.ide-wal
Lab2/.vs/Lab2/v16/.suo
Lab2/.vs/Lab2/v16/Server/sqlite3/db.lock
Lab2/.vs/Lab2/v16/Server/sqlite3/storage.ide-shm
Lab2/.vs/Lab2/v16/Server/sqlite3/storage.ide-wal
Lab2/.vs/slnx.sqlite
Lab2/.vs/tasks.vs.json
Lab2/.vs/VSWorkspaceState.json
Lab2/bin/Debug/netcoreapp3.1/Lab2.dll
Lab2/bin/Debug/netcoreapp3.1/Lab2.pdb
Lab2/obj/Debug/netcoreapp3.1/Lab2.csprojAssemblyReference.cache
Lab2/obj/Debug/netcoreapp3.1/Lab2.dll
Lab2/obj/Debug/netcoreapp3.1/Lab2.pdb
Lab2/obj/Release/netcoreapp3.1/Lab2.AssemblyInfo.cs
Lab2/obj/Release/netcoreapp3.1/Lab2.AssemblyInfoInputs.cache
Lab2/obj/Release/netcoreapp3.1/Lab2.assets.cache
*.ide
*.ide-shm
*.ide-wal
*.ide-wal
*.dll
*.pdb
Lab1/.vs/Lab1/DesignTimeBuild/.dtbcache
Lab1/.vs/Lab1/v16/.suo
Lab1/.vs/Lab1/v16/Server/sqlite3/storage.ide
Lab1/.vs/Lab1/v16/Server/sqlite3/storage.ide-shm
Lab1/.vs/Lab1/v16/Server/sqlite3/storage.ide-wal
Lab2/bin/Debug/netcoreapp3.1/Lab2.dll
Lab2/bin/Debug/netcoreapp3.1/Lab2.pdb
Lab2/obj/Debug/netcoreapp3.1/Lab2.csprojAssemblyReference.cache
Lab2/obj/Debug/netcoreapp3.1/Lab2.dll
Lab2/obj/Debug/netcoreapp3.1/Lab2.pdb
Lab1/.vs/Lab1/DesignTimeBuild/.dtbcache
